# AWS Amplify Configuration
AWS_REGION=YOUR_VALUE_HERE
USER_POOL_ID=YOUR_VALUE_HERE
USER_POOL_CLIENT_ID=YOUR_VALUE_HERE
IDENTITY_POOL_ID=YOUR_VALUE_HERE

# Aurora Database Configuration
AURORA_RESOURCE_ARN=YOUR_VALUE_HERE
AURORA_SECRET_ARN=YOUR_VALUE_HERE

# Database Names
CROWD_DATABASE_NAME=YOUR_VALUE_HERE
FOOD_DATABASE_NAME=YOUR_VALUE_HERE
