# AWS Amplify Configuration
EXPO_PUBLIC_AWS_REGION=YOUR_VALUE_HERE
EXPO_PUBLIC_USER_POOL_ID=YOUR_VALUE_HERE
EXPO_PUBLIC_USER_POOL_CLIENT_ID=YOUR_VALUE_HERE
EXPO_PUBLIC_IDENTITY_POOL_ID=YOUR_VALUE_HERE

# Aurora Database Configuration
EXPO_PUBLIC_AURORA_RESOURCE_ARN=YOUR_VALUE_HERE
EXPO_PUBLIC_AURORA_SECRET_ARN=YOUR_VALUE_HERE

# Database Names
EXPO_PUBLIC_CROWD_DATABASE_NAME=YOUR_VALUE_HERE
EXPO_PUBLIC_FOOD_DATABASE_NAME=YOUR_VALUE_HERE
